body {
    /* display:flex; */
    
}

.outerContainer {
    /* display: flex; */
}

.redBar {
    display: flex;
    background-color: #E41A23;
    height: 100px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: center;
}

.rightColumn {
    margin-left: 30px;
    margin-right: 30px;
}

.properties {
    color: white;
    text-align: center;
    height: 260px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #00A6BC;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 10px; 
}

h3 {
    font-size: 1.2em;
    margin-top: -20px;
    margin-bottom: 0;
}

p {
    font-size: 1.1em;
}


.methods {
    text-align: center;
    height: 340px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #FFDA00;
}

.button {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    background-color: #3D6BD3;
    color: white;
}


